html {
    position: relative;
}

body {
    @extend %body-1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ul {
    &.list-style {
        margin-left: 2rem;
        margin-bottom: 2rem;
    
        li {
            margin-bottom: 1rem;
    
            ul {
                margin-top: 1rem;
            }
        }
    }
}
