@use '../base/variables' as *;
@use 'mixins';

.tab {
    @include mixins.typography(1.8rem, 2rem);
    color: $grey-1;
    
    &.active {
        position: relative;
        color: $blue-1;
        
        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 5px;
            bottom: -1rem;
            background-color: $blue-1;
        }
    }
}

.button {
    &--primary {
        background-color: $yellow-1;
        padding: 1rem 2rem;
        display: inline-block;
        border-radius: 5rem;
        font-weight: 500;
    }
}
