@use "../../../app/scss/base/variables" as *;

.tabbedContent {
    padding: 5rem 0;

    &__navigation {
        margin-bottom: 3rem;
    }
    
    &__tab {
        margin-right: 2rem;
    }

    &__inner {
        ul {
            li {
                margin-bottom: 1rem;
            }
        }
    }
}
