.textImage {
    padding: 5rem 0;
    
    &__heading {
        margin-bottom: 1rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__image {
        img {
            width: 100%;
        }
    }
}
